<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PARSE_APP_ID</key>
	<string>r8Pu5dpmi1YaLOG5Oj8C047ooKG0gywqzPlETvdX</string>
	<key>PARSE_CLIENT_KEY</key>
	<string>T2dTAnHBVo0TKfSPNAfnbLBt1dhYSu2v1uYDxOpH</string>
	<key>PARSE_SERVER_URL</key>
	<string>https://parseapi.back4app.com</string>
</dict>
</plist>
